<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
  <form (ngSubmit)="authenticate()">
    <mat-form-field>
      <input matInput [(ngModel)]="email" name="email" type="email" placeholder="Email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="password" name="password" placeholder="Enter your password" [type]="passwordHide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Login</button>
  </form>
</mat-dialog-content>
