.landing {
  /* layout */
  background: url("./../../../../assets/core/img/landing-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
    color: #5377bbef;
    text-align: center;
    font-size: 7rem;
    font-family: sans-serif;
    font-weight: 300;
    width: 50%;
}
