app-root {
    align-self: stretch;
    display: inline-block;
}

header-when-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

mat-sidenav {
    width: 15%;
}