:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-wrapper{
    position: fixed;
    height: 64px;
    top: 0;
    width: 100%;
    z-index: 100;
  }

mat-sidenav {
    width: 50%;
    min-width: 200px;
    max-width: 250px;
    margin-top: 64px;
}

.site-container {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    flex: 1;
}