@import '~@angular/material/theming';
@import '../../../../grafikowy-theme.scss';
$primary: map-get($light-theme, primary);
$accent: map-get($light-theme, accent);
.headerWrapper {
  border-bottom: 1px solid mat-color($primary, 100);
}

.navigationBar {
  display: flex;
  width: 100%;
}

.logo {
  flex: 1;
}

.dark {
  $accent: map-get($dark-theme, accent);
  $primary: map-get($dark-theme, primary);
  &.headerWrapper {
    border-bottom: 1px solid mat-color($primary, 100);
  }
}
