<mat-toolbar class="headerWrapper" [class.dark]="isDarkTheme()">
  <div class="navigationBar">

    <div class="sidenavToogle">
      <button mat-icon-button (click)="toggleSidenav()" *ngIf="isLoggedIn()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="logo">
      <a mat-button routerLink="/">Grafikowy</a>
    </div>
    <div class="menu" *ngIf="!isLoggedIn()">
        <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
            <button mat-menu-item (click)="changeTheme()">Zmien motyw</button>
          </mat-menu>
      <button mat-raised-button color="primary" (click)="openLoginDialog()">Zaloguj</button>
    </div>

    <div class="menu" *ngIf="isLoggedIn()">
      <a mat-button routerLink="/users">{{ loggedUser.firstName }} {{ loggedUser.lastName }}</a>

      <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
        <button mat-menu-item (click)="changeTheme()">Zmien motyw</button>
        <button mat-menu-item (click)="logout()">Wyloguj</button>
      </mat-menu>

    </div>
  </div>
</mat-toolbar>
