<mat-toolbar fxLayout="row" fxLayoutAlign="center center" color="primary">
  <div fxFlex=70% class="navigationBar">
    <div class="logo" fxFlex="70%">
      <a mat-button routerLink="/">Grafikowy</a>
    </div>
    <div class="menu" *ngIf="!isLoggedIn()" fxFlex="30%">
      <button mat-button (click)="openLoginDialog()">Zaloguj</button>
    </div>
    <div class="menu" *ngIf="isLoggedIn()" fxFlex="30%">
        <a mat-button routerLink="/users">{{ loggedUser.firstName }} {{ loggedUser.lastName }}</a>
        <button mat-button (click)="logout()" fxFlexAlign="right">Wyloguj</button>
      </div>
  </div>
</mat-toolbar>
