<mat-toolbar class="schedulerHeader" color="primary" [class.dark]="isDarkTheme()">
  {{ groupName }}
</mat-toolbar>

<div class="table-container mat-elevation-z8">
  <mat-card>
    <div class="monthPicker">
      <button mat-icon-button (click)="goToPreviousMonth()">
        <mat-icon>arrow_left</mat-icon>
      </button>
      <h4 class="monthDisplay">{{ getSelectedDateString() }}</h4>
      <button mat-icon-button (click)="goToNextMonth()">
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
  </mat-card>
</div>

<div class="table-container mat-elevation-z8" class="schedule">
  <mat-table #table [dataSource]="dataSource">

    <mat-header-row class="tableHeaderRow" *matHeaderRowDef="columnHeaders"></mat-header-row>
    <mat-row class="tableRow" *matRowDef="let row; columns: columnHeaders;"></mat-row>

    <ng-container *ngFor="let column of columns; let colIndex = index" [cdkColumnDef]="column.columnDef">
      <mat-header-cell class="tableHeader" [ngClass]="colIndex === 0?'userName':'shift'" *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
      <mat-cell class="tableCell" [ngClass]="colIndex === 0?'userName':'shift'" *cdkCellDef="let row; let rowIndex = index">
        <button [class.dark]="isDarkTheme()" mat-button class="cellButton" [ngClass]="colIndex === 0?'userName':row[colIndex].shiftType" (click)="handleCellClick(rowIndex, colIndex)">{{ getDisplayValueForCell(row[colIndex]) }}</button>
      </mat-cell>
    </ng-container>
  </mat-table>

  <div class="buttonsHolder">
    <button mat-mini-fab color="warn">
      <mat-icon aria-label="Resetuj grafik" (click)="loadSchedule()">restore</mat-icon>
    </button>
    <button mat-fab color="primary" class="sendButton" (click)="saveSchedule()">
      <mat-icon aria-label="Wyślij grafik">send</mat-icon>
    </button>
  </div>
</div>
