.schedule {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.mat-table {
  overflow: auto;
}

.cellButton {
  min-width: 0px;
  flex: 1;

  &.DAY {
    background-color: green;
  }
  &.NIGHT {
    background-color: blue;
  }
}

.monthPicker {
  display: flex;
}

.monthDisplay {
  flex: 1;
  text-align: center;
}



