@import '~@angular/material/theming';
@import '../../../../grafikowy-theme.scss';

$primary: map-get($light-theme, primary);
$accent: map-get($light-theme, accent);

.schedule {
  margin-top: 20px;
}

.mat-table {
  overflow: auto;
}

.schedulerHeader {
  background-color: mat-color($primary);
}

.cellButton {
  min-width: 0px;
  flex: 1;

  &.DAY {
    background-color: mat-color($primary, 200);
  }
  &.NIGHT {
    background-color: mat-color($accent, 200);
  }
}

.monthPicker {
  display: flex;
}

.monthDisplay {
  flex: 1;
  text-align: center;
}

.buttonsHolder {
  margin: 10px;
  display: flex;
  float: right;
}


.tableHeader {
  flex-shrink: 0;
  flex-basis: 40px;
}

.tableCell {
  flex-shrink: 0;
  flex-basis: 40px;
}

.sendButton {
  margin-left: 10px;
}

.dark {
  $accent: map-get($dark-theme, accent);
  $primary: map-get($dark-theme, primary);

  &.cellButton { 
    &.DAY {
      background-color: mat-color($primary, 200);
    }
    &.NIGHT {
      background-color: mat-color($accent, 200);
    }
  }

  &.schedulerHeader {
    background-color: mat-color($primary);
  }
}



