mat-grid-tile {
    background: lightblue;
  }

.schedule {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.monthPicker {
  display: flex;
}

/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  background: white;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
}
