@import '~@angular/material/theming';

@include mat-core();

$light-theme-primary: mat-palette($mat-indigo);
$light-theme-accent: mat-palette($mat-cyan, A200, A100, A400);
$light-theme-warn: mat-palette($mat-red);

$light-theme: mat-light-theme($light-theme-primary, $light-theme-accent, $light-theme-warn);

@include angular-material-theme($light-theme);

$dark-theme-primary: mat-palette($mat-brown, 700);
$dark-theme-accent: mat-palette($mat-blue-grey);
$dark-theme-warn: mat-palette($mat-green);

$dark-theme: mat-dark-theme($dark-theme-primary, $dark-theme-accent, $dark-theme-warn);

.dark {    
    @include angular-material-theme($dark-theme);
}
