<div class="sidenav-content" [class.dark]="isDarkTheme()">
  <mat-expansion-panel [expanded]="loggedUser && loggedUser.usingGroups.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Twoje grupy
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="loggedUser">
      <div *ngFor="let usingGroup of loggedUser.usingGroups">
        <a class="sidenavButton" mat-button [routerLink]="['calendar', usingGroup.name]">{{ usingGroup.name }}</a>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="loggedUser && loggedUser.moderatingGroups.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Zarządzane grupy
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="loggedUser">
      <div *ngFor="let moderatingGroup of loggedUser.moderatingGroups">
        <a class="sidenavButton" mat-button [routerLink]="['scheduler', moderatingGroup.name]">{{ moderatingGroup.name }}</a>
      </div>
    </div>
  </mat-expansion-panel>
</div>
