@import '~@angular/material/theming';
@import '../../../../grafikowy-theme.scss';

$primary: map-get($light-theme, primary);
$accent: map-get($light-theme, accent);

.navigationGroupName {
    width: 100%;
    text-align: left;
}

.sidenavButton {
    width: 100%;
    text-align: left;
}

.sidenavContent {
    background-color: mat-color($accent, 100);
}

.dark {
    $accent: map-get($dark-theme, accent);
    $primary: map-get($dark-theme, primary);

    &.sidenav-content {
        background-color: mat-color($primary, 100);
    }
}
